APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
GRAPH_SCOPE=https://graph.microsoft.com/.default

SHAREPOINT_HOST=empresa.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/GestionOficinas
SP_LIST_OFICINAS_ID=
SP_LIST_SOLICITUDES_ID=
